body {
    width: 100%;
    color: #ffffff !important;
}

table {
    cursor: pointer;
    overflow-x: hidden;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
}

input {
    appearance: none;
}


input {}

.pagination input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;

}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: white !important;
}

input[type=number]:focus {
    border: 1px solid #ffffff;
    border-radius: 10px;
}

i {
    cursor: pointer !important;
    padding: 1rem;
}

.content {
    overflow-x: auto;
}

td {
    color: #a0a0a0 !important;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.actions button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
}

.actions button:hover {
    background-color: #1b1b1b;
}