#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}

#pagination i {
    cursor: pointer;
    color: white;
}

#pagination input {
    width: 100px;
}

#pagination input::-webkit-outer-spin-button,
#pagination input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#ticketsBody tr {
    cursor: pointer;
}